* {
  box-sizing: border-box;
}

/* html,
body {
  margin: 0;
  padding: 0; 
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* min-height: 1280px; */
  color: #3b3b3b;
  /* font-size: 24px; */
  max-width: 1980px;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}


footer {
  text-align: center;
  font-size: 1rem;
  margin:5rem 0;
}

#main {
  max-width: 80%;
  margin: 0rem auto;
  text-align: center;
}

#tableau {
  max-width: 80%;
  margin: 0 5rem;
}

.intro__hed {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  color: #8a8a8a;
}


.card-block .btn-outline-primary {
  width: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* .card {
  margin: 5px 5px;
} */

/* Flip Cards CSS */
/* .card-container {
  width: 80px;
  height: 85px;
} */

.card-flip {
  position: relative;
  /* height: 80px; */
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: orange;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  position:absolute;
  z-index: 0;
  transform: rotateY(-180deg);
  background-color: aqua;
  font-size: 1em;
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.ctn:hover .card-flip {
  transform: rotateY(180deg);
}

/* h2 {
  font-size: 0.8em;
}

h3 {
  font-size: 0.7em;
} */

.img {
  max-width: 50%;
  max-height: 50%;
  /* float:right; */
}

.float {
  float:right;
}

.page2{
  clear:both;
}

.movie50 {
  /* margin-bottom: 5rem; */
  margin:2rem;
  max-width: 70%;
  max-height: 70%;
  /* float:left; */
}

.page {
  margin:10rem 0;
  /* padding: 90px; */
  /* background-color: #63CDF6; */
}

.box {
  max-width: 40%;
  margin-top: 5rem;
}

.under {
  position: relative;
}

.over {
  position: relative;
  top:-10rem;
}



/* add */
/* @keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
} */

/* @media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
} */

/* #intro {
  margin-bottom: 320px;
} */

/* #outro {
  height: 640px;
} */

/* @media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
} */

/* add */

#test {
  overflow: hidden;
  /* min-width: 900;
  max-width: 989px; */
  width: 900px;
  margin:auto;
}

/* .card {
  width: 80px;
  height: 80px;
  border: 1px solid silver;
  text-align: center;
  font-size: 1em; 
  font-weight: bold;
  box-shadow: gray 2px 2px;
  background-color: #8a8a8a;
  float: left;
} */


/*  */
.container1 {
  width: 80px ;
  height: 80px ;
  line-height: 80px ;
  text-align: center ;
}

.target {
  transition: .5s ;
  transform: rotateY( 0deg ) ;
}

.container1:hover .target {
  transform: rotateY( 180deg ) ;
}

.flip-card {
  background-color: transparent;
  width: 80px;
  height: 80px;
  perspective: 100px;
  margin: 5px 5px;
  float: left;
}

.flip-card-inner {
  /* margin: 5px 5px; */
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  font-weight: bold;
  border: 1px solid silver;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  box-shadow: gray 2px 2px;
  background-color: #8a8a8a;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* line-height: 85px; */
  line-height: 20px;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #C4C4C4;
  
}

.flip-card-back {
  line-height: 80px;
  transform: rotateY(180deg);
}

.Lesbian {
  background-color: #E32027;
}
.Gay {
  background-color: #F78D20;
}
.Bisexual {
  background-color: #63CDF6;
}
.Transgender {
  background-color: #F7AAB8;
}

.Peripheral {
  background-color: #8a8a8a;
}

#page1 {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

/* mobile */
@media only screen and (max-width:480px){
  #main {
    min-width: 80%;
    /* max-width: 1000px; */
    display:block;
    margin:auto;
  }
}
